.stack-work/
li-scraper.cabal
*~
## Docker root user files
.bash_history
.psql_history
.stack/
stack.yaml.lock
### Haskell template
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.cabal
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
candidates-explorer.cabal
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

*.db3
linkedin.yaml
*.jar
.env
screenshot.png
